<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Geek</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href=""><img src="./images/logo-igeek-orange.png" alt="logo"></a>
            </div>
            <nav class="menu">
                <a href="#" class="menu-item">Inicio</a>
                <a href="#" class="menu-item">Sobre</a>
                <a href="#" class="menu-item">Contato</a>
            </nav>
            <div class="toggle">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </header>
        <section class="banner">
            <h1>Seja bem vindo a IGeek!</h1>
            <p>Os melhores produtos geek você só encontra aqui!</p>
        </section>
        <section class="produtos">
            <!-- Titulo -->
            <h2>Nossos Produtos</h2>
            <!-- Produtos -->
            <div>
                <div class="produto">
                    <img src="./images/produto-1.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 1</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
                <!-- Produto -->
                <div class="produto">
                    <img src="./images/produto-2.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 2</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
                <!-- Produto -->
                <div class="produto">
                    <img src="./images/produto-3.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 3</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
                <!-- Produto -->
                <div class="produto">
                    <img src="./images/produto-4.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 4</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
            </div>
        </section>
        <section class="produtos">
            <!-- Titulo -->
            <h2>Nossos Produtos</h2>
            <!-- Produtos -->
            <div>
                <div class="produto">
                    <img src="./images/produto-1.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 1</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
                <!-- Produto -->
                <div class="produto">
                    <img src="./images/produto-2.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 2</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
                <!-- Produto -->
                <div class="produto">
                    <img src="./images/produto-3.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 3</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
                <!-- Produto -->
                <div class="produto">
                    <img src="./images/produto-4.jpg" alt="produto" class="produto-imagem">
                    <h3 class="produto-nome">Produto 4</h3>
                    <p class="produto-descricao">Descrição do produto</p>
                    <span class="produto-preco">R$:100,00</span>
                </div>
            </div>
        </section>
        <footer>
            <p>&copy;IGeek Todos os direitos reservados 2024. Desenvolvido pelo curso de Informática.</p>
        </footer>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>