@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* cores */
:root{
    --cor-primaria:#800080;
    --cor-secundaria:#ffa500;
    --cor-terciaria:#f0f8ff;
}

*{
  box-sizing: border-box;  
}

/* container */

.container{
    min-height: 100vh;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Links */
a{
    text-decoration: none;
    color:black;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    padding:10px;
    padding: 5px 30px;
}

/* logo */
.logo{
    height: 50px;
    overflow: hidden;
}
.logo > a > img{
    height: 120px;
    position: relative;
    top: -35px;
}

/* Menu */
.menu > a{
   color:#ffffff; 
}

.menu > a:hover{
    color:var(--cor-secundaria);
}

.menu > .menu-item{
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    height: 300px;
    padding: 20px;
}

.banner > h1{
    font-size: 3.5rem;
}

.banner > p{
    margin-top: -30px;
}

/* produtos */
.produtos > h2{
    margin: 30px;
}

.produtos > div{
    margin:24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 0px 14px 1px rgba(111,111,111,0.78);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.produto > .produto-imagem{
    height: 250px;
    width: 80%;
}

.produto > .produto-preco{
    font-size: 1.3rem;
    font-weight: bold;
}

.produto > .produto-nome{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.produto > .produto-descricao{
    margin-top: -10px;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-terciaria);
    height: 80px;
}

/* botão toggle */

.toggle{
    right: 100px;
    width: 48px;
    cursor: pointer;
    display: none;
}

.toggle div{
    height: 8px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 3px;
}

.toggle div:nth-child(2){
    width: 80%;
}
/* Responsividade do site */


/* sm */

@media screen and (max-width: 640px) {
    .produtos > div{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
    }

    .banner > h1{
        font-size: 2.5rem;
        text-align: center;
    }

    .banner > p{
        margin-top: -30px;
        text-align: center;
        font-size: 1.2rem;
    }

    footer{
        text-align: center;
    }

    /* toggle */
    .toggle{
        display: block;
    }

    .menu{
        display: none;
    }
    .menu-visivel{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      border: 1px solid #fff;
      background-color: var(--cor-primaria);
      right: 0px;
      top: 60px;
      padding: 24px;
    }

    .menu > .menu-item{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    
    .logo {
        margin-left: -24px;
    }
    
    
    /* Animação do toggle */
    .mudar .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        width: 60%;
        height: 6px;
    }
   
    .mudar .bar2 {opacity: 0;}
    
    .mudar .bar3 {
        transform: translate(0, -13px) rotate(45deg);
        width: 60%;
        height: 6px;
    }
    
}

